# macOS
.DS_Store

# CMake and build outputs
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Common C/C++ build artifacts
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.elf
*.bin
*.map

# Python
__pycache__/
*.pyc

# Local tooling caches
.cache/

# KiCad backups/autosaves/cache artifacts
*.bak
*-bak
*.bck
*_autosave-*
*-cache.lib
fp-info-cache

# CubeMX artifacts
firmware/stm32f303/cubemx/*
!firmware/stm32f303/cubemx/Core/
firmware/stm32f303/cubemx/Core/*
!firmware/stm32f303/cubemx/Core/Inc/
firmware/stm32f303/cubemx/Core/Inc/*
!firmware/stm32f303/cubemx/Core/Inc/FreeRTOSConfig.h
!firmware/stm32f303/cubemx/Core/Inc/main.h
!firmware/stm32f303/cubemx/Core/Inc/stm32f3xx_hal_conf.h
!firmware/stm32f303/cubemx/Core/Inc/stm32f3xx_it.h
!firmware/stm32f303/cubemx/Core/Src/
firmware/stm32f303/cubemx/Core/Src/*
!firmware/stm32f303/cubemx/Core/Src/main.c
!firmware/stm32f303/cubemx/Core/Src/freertos.c
!firmware/stm32f303/cubemx/Core/Src/stm32f3xx_hal_msp.c
!firmware/stm32f303/cubemx/Core/Src/stm32f3xx_hal_timebase_tim.c
!firmware/stm32f303/cubemx/Core/Src/stm32f3xx_it.c
!firmware/stm32f303/cubemx/USB_DEVICE/
firmware/stm32f303/cubemx/USB_DEVICE/*
!firmware/stm32f303/cubemx/USB_DEVICE/App/
firmware/stm32f303/cubemx/USB_DEVICE/App/*
!firmware/stm32f303/cubemx/USB_DEVICE/App/usb_device.c
!firmware/stm32f303/cubemx/USB_DEVICE/App/usb_device.h
!firmware/stm32f303/cubemx/USB_DEVICE/App/usbd_cdc_if.c
!firmware/stm32f303/cubemx/USB_DEVICE/App/usbd_cdc_if.h
!firmware/stm32f303/cubemx/USB_DEVICE/App/usbd_desc.c
!firmware/stm32f303/cubemx/USB_DEVICE/App/usbd_desc.h
!firmware/stm32f303/cubemx/USB_DEVICE/Target/
firmware/stm32f303/cubemx/USB_DEVICE/Target/*
!firmware/stm32f303/cubemx/USB_DEVICE/Target/usbd_conf.c
!firmware/stm32f303/cubemx/USB_DEVICE/Target/usbd_conf.h

.local/